<div class="Presentacion">
  <img id="imgPresentacion" src="assets/images/sucursales.png" alt="">
  <h1>TRABAJAR CON SUCURSALES</h1>
</div>
<div class="container">
  <div class="col">
    <div class="col">
      <table class="table table-bordered table-hover">
        <thead class="table-responsive">
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Dirección</th>
            <th scope="col">Foto</th>
            <th scope="col">Localidad</th>
            <th scope="col"><button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#SucursalModal"
                (click)="resetForm(sucursalForm)">Nuevo</button></th>
          </tr>
          <!-- Modal -->
          <div class="modal" id="SucursalModal" #sucursalModal tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog bg-transparent">
              <div class="modal-content">
                <div class="modal-header bg-warning">
                  <h1 class="modal-title fs-5" id="h1-PUProd">{{ tituloModal }}</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <!--<span aria-hidden="true">&times;</span>-->
                  </button>
                </div>

                <!--Form-->
                <form ngNativeValidate #sucursalForm="ngForm" (ngSubmit)="addSucursal(sucursalForm)">
                  <div class="agrupaColumnas">
                    <div class="columna">
                      <input type="hidden" name="_id" [(ngModel)]="StoreLocatorService.selectedSucursal._id">

                      <div class="col mi-fila">

                        <div class="mi-elemento">
                          <label for="nombre">Nombre:</label>
                          <input
                            [ngClass]="{'input-error': nombre.touched && !nombre.valid, 'input-success': nombre.valid && !nombre.errors}"
                            type="text" name="nombre" #nombre="ngModel" class="form-control" placeholder="Nombre"
                            [(ngModel)]="StoreLocatorService.selectedSucursal.nombre" required>
                          <div *ngIf="nombre.touched && !nombre.valid">
                            <div class="camposRequeridos" *ngIf="nombre.errors['required']"> -> nombre es requerido
                            </div>
                          </div>
                        </div>
                        <div class="mi-elemento">
                          <label for="direccion">Dirección:</label>
                          <input
                            [ngClass]="{'input-error': direccion.touched && !direccion.valid, 'input-success': direccion.valid && !direccion.errors}"
                            type="text" name="direccion" #direccion="ngModel"
                            [(ngModel)]="StoreLocatorService.selectedSucursal.direccion" placeholder="Ingrese dirección"
                            class="form-control" required />
                          <div *ngIf="direccion.touched && !direccion.valid">
                            <div class="camposRequeridos" *ngIf="direccion.errors['required']"> -> Dirección es
                              requerida</div>
                          </div>
                        </div>
                      </div>
                      <div class="col mi-fila">

                        <div class="mi-elemento">
                          <label for="foto">Foto:</label>
                          <input
                            [ngClass]="{'input-error': foto.touched && !foto.valid, 'input-success': foto.valid && !foto.errors}"
                            type="text" name="foto" #foto="ngModel" class="form-control" placeholder="Foto"
                            [(ngModel)]="StoreLocatorService.selectedSucursal.foto" required>
                          <div *ngIf="foto.touched && !foto.valid">
                            <div class="camposRequeridos" *ngIf="foto.errors['required']"> -> foto es requerido
                            </div>
                          </div>
                        </div>
                        <div class="mi-elemento">
                          <label for="localidad">Localidad:</label>
                          <br>
                          <select id="dropdownList"
                            [ngClass]="{'input-error': localidad.touched && !localidad.valid, 'input-success': localidad.valid && !localidad.errors}"
                            [(ngModel)]="StoreLocatorService.selectedSucursal._id" #localidad="ngModel" name="localidad"
                            class="form-control" placeholder="Localidad" required>
                            <option *ngFor="let l of LocalidadService.Localidades" value="{{l._id}}">{{l.nombre}}
                              {{l.codPostal}} </option>
                          </select>
                          <i class="fas fa-chevron-down"></i> <!-- Icono de flecha hacia abajo -->
                          <div *ngIf="localidad.touched && !localidad.valid">
                            <div class="camposRequeridos" *ngIf="localidad.errors['required']"> -> Localidad es
                              requerido
                            </div>
                          </div>
                        </div>
                      </div>

                      <div>
                        <div *ngIf="InsertSuccess" class="overlay">
                          <div class="alert alert-success alert-dismissible fade show" role="alert">
                            {{tituloModalSucces}}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"
                              data-bs-dismiss="modal" (click)="ModalClose()"></button>
                          </div>
                        </div>
                      </div>


                      <div *ngIf="errorMessage" class="custom-error-message">
                        ¡Error!
                        {{errorMessage}}
                      </div>
                    </div>
                    <div class="columna">
                      <div id="imgConteiner">
                        <div class="imagen"
                          [style.background-image]="'url(' + StoreLocatorService.selectedSucursal.foto + ')'"
                          *ngIf="StoreLocatorService.selectedSucursal.foto"></div>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                      (click)="cancel()">Cancelar</button>
                    <button type="submit" class="btn btn-success">Guardar</button>
                  </div>

                </form>
              </div>
            </div>
          </div>
        </thead>
        <tbody>
          <!-- Fin Modal -->
          <tr *ngFor="let sc of StoreLocatorService.storeLocators">
            <td>{{sc.nombre}}</td>
            <td>{{sc.direccion}}</td>
            <td><img src={{sc.foto}} class="img-thumbnail" /></td>
            <td>{{sc.localidad.nombre}} {{sc.localidad.codPostal}}</td>
            <td>
              <button class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#SucursalModal"
                (click)="editSucursal(sc)">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil"
                  viewBox="0 0 16 16">
                  <path
                    d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z" />
                </svg>
              </button>
              <button class="btn btn-danger btn-sm" (click)="deleteSucursal(sc._id)">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash"
                  viewBox="0 0 16 16">
                  <path
                    d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                  <path fill-rule="evenodd"
                    d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                </svg>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>