<div class="container-fluid p-0">
  <div class="listfs align-items-center">
    <br/>
    <div class="container-fluid p-4">
      <h1 class="text-center text-white display-3 tbg">EL MEJOR ALIMENTO PARA TU MEJOR AMIGO</h1>
    </div>
    <img src="./assets/images/pets.png" class="image-fluid"/>
  </div>
</div>


<div class="listss">
  <br/>
  <div class="container">
    <div class="bg-secondary">
      <form class="d-flex">
        <input class="form-control m-2 me-3 ms-4" type="search" placeholder="Ingresa una palabra para buscar artículos y productos relacionados" aria-label="Search" [(ngModel)]="filterProduct" name="filterProduct">
        <div class="dropdown m-2 me-4">
          <button class="btn btn-dark dropdown-toggle" type="button" id="filterDropDown" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
            Filtros
          </button>
          <ul class="dropdown-menu" aria-labelledby="filterDropDown">
            <li>
              <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Tipo de mascota</a>
              <ul class="dropdown-menu">
                <li><button class="dropdown-item" (click)="filterProductsByPetName('Perro')">Perro</button></li>
                <li><button class="dropdown-item" (click)="filterProductsByPetName('Gato')">Gato</button></li>
              </ul>
            </li>
            <li>
              <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Tamaño</a>
              <ul class="dropdown-menu">
                <li><button class="dropdown-item" (click)="filterProductsByPetSize('Pequeño')">Pequeño</button></li>
                <li><button class="dropdown-item" (click)="filterProductsByPetSize('Mediano')">Mediano</button></li>
                <li><button class="dropdown-item" (click)="filterProductsByPetSize('Grande')">Grande</button></li>
              </ul>
            </li>
            <li>
              <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Edad</a>
              <ul class="dropdown-menu">
                <li><button class="dropdown-item" (click)="filterProductsByPetAge('Cachorro')">Cachorro</button></li>
                <li><button class="dropdown-item" (click)="filterProductsByPetAge('Adulto')">Adulto</button></li>
                <li><button class="dropdown-item" (click)="filterProductsByPetAge('Senior')">Senior</button></li>
              </ul>
            </li>
            <li>
              <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Precio</a>
              <ul class="dropdown-menu">
                <li><button class="dropdown-item" (click)="filterProductsByPrice('Mayor')">Mayor precio</button></li>
                <li><button class="dropdown-item" (click)="filterProductsByPrice('Menor')">Menor precio</button></li>
                <li><hr class="dropdown-divider"></li>
                <div class="input-group input-group-sm">
                  <div class="row">
                    <h6 class="ms-2 fw-light">Rango:</h6>
                    <div class="col-6">
                      <input class="input-group-text ms-2 inputFilter" placeholder="Mínimo" [(ngModel)]="minPrice" name="minPrice"/>
                    </div>
                    <div class="col-6">
                      <input class="input-group-text me-2 inputFilter" placeholder="Máximo" [(ngModel)]="maxPrice" name="maxPrice"/>
                    </div>
                  </div>
                </div>
                <li><hr class="dropdown-divider"></li>
                <li class="d-flex flex-column ms-2 me-2 align-items-center">
                  <button class="btn btn-dark btn-sm mb-1" (click)="filterProductsByPriceRange()">Buscar</button>
                </li>
              </ul>
            </li>
            <li><hr class="dropdown-divider"></li>
            <li class="d-flex flex-column ms-2 me-2 align-items-center">
              <button class="btn btn-dark btn-sm mb-1" (click)="clearFilters()">Limpiar filtros</button>
            </li>
          </ul>
        </div>
      </form>
    </div>
    <div *ngFor="let p of productoService.productos | listFilter: filterProduct.toLowerCase()">
      <app-product-card
        _id="{{p._id}}"
        brand="{{p.marca}}"
        name="{{p.nombre}}"
        discount="{{p.promo}}"
        description="{{p.descripcion}}"
        weight="{{p.peso}}"
        petName="{{p.tipoMascota.nombre}}"
        petAge="{{p.tipoMascota.edad}}"
        petSize="{{p.tipoMascota.tamanoRaza}}"
        price="{{p.precio}}"
        imgUrl="{{p.imgUrl}}">
      </app-product-card>
    </div>
  </div>  
</div>