<div class="container-fluid p-0">
  <div class="listfs align-items-center">
    <br/>
    <div class="container-fluid p-4">
      <h1 class="text-center text-white display-3 tbg">ALIMENTA A TU MEJOR AMIGO CON LO MEJOR</h1>
    </div>
    <img src="./assets/images/pets.png" class="image-fluid"/>
  </div>
</div>


<div class="listss">
  <br/>
  <div class="container">
    <div class="bg-secondary">
      <form class="d-flex">
        <input class="form-control m-2 me-3 ms-4" type="search" placeholder="Ingresa una palabra para buscar artículos y productos relacionados" aria-label="Search" [(ngModel)]="filterProduct" name="filterProduct">
        <div class="dropdown m-2 me-4">
          <button class="btn btn-dark dropdown-toggle" type="button" id="filterDropDown" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
            Filtros
          </button>
          <ul class="dropdown-menu" aria-labelledby="filterDropDown">
            <li>
              <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Tipo de mascota</a>
              <ul class="dropdown-menu">
                <li><a href="#" class="dropdown-item">Perro</a></li>
                <li><a href="#" class="dropdown-item">Gato</a></li>
              </ul>
            </li>
            <li>
              <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Tamaño</a>
              <ul class="dropdown-menu">
                <li><a href="#" class="dropdown-item">Pequeño</a></li>
                <li><a href="#" class="dropdown-item">Mediano</a></li>
                <li><a href="#" class="dropdown-item">Grande</a></li>
              </ul>
            </li>
            <li>
              <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Edad</a>
              <ul class="dropdown-menu">
                <li><a href="#" class="dropdown-item">Cachorro</a></li>
                <li><a href="#" class="dropdown-item">Adulto</a></li>
                <li><a href="#" class="dropdown-item">Senior</a></li>
              </ul>
            </li>
            <li><hr class="dropdown-divider"></li>
            <li class="d-flex flex-column ms-2 me-2 align-items-center">
              <button class="btn btn-dark btn-sm mb-1">Aplicar</button>
              <a class="text-sm fw-light text-dark" href="#">Limpiar todo</a>
            </li>
          </ul>
        </div>
      </form>
    </div>
    <div *ngFor="let p of productoService.productos | listFilter: filterProduct.toLowerCase()">
      <app-product-card
        _id="{{p._id}}"
        brand="{{p.marca}}"
        name="{{p.nombre}}"
        discount="{{p.promo}}"
        description="{{p.descripcion}}"
        weight="{{p.peso}}"
        petName="{{p.tipoMascota.nombre}}"
        petAge="{{p.tipoMascota.edad}}"
        petSize="{{p.tipoMascota.tamanoRaza}}"
        price="{{p.precio}}"
        imgUrl="{{p.imgUrl}}">
      </app-product-card>
    </div>
  </div>  
</div>