<div class="Presentacion">
  <img id="imgPresentacion" src="assets/images/Producto.png" alt="">
  <h1>TRABAJAR CON PRODUCTO</h1>
</div>
<div class="container">
  <div class="col">
    <div class="col">
      <table class="table table-bordered table-hover">
        <thead class="table-responsive">
          <tr>
            <th scope="col">Marca</th>
            <th scope="col">Nombre</th>
            <th scope="col">Descripción</th>
            <th scope="col">Peso</th>
            <th scope="col">Imágen</th>
            <th scope="col">Tipo de Mascota</th>
            <th scope="col">Precio</th>
            <th scope="col">Promo</th>
            <th scope="col"><button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#ProductModal"
                (click)="resetForm(productForm)">Nuevo</button></th>
          </tr>
          <!-- Modal -->
          <div class="modal" id="ProductModal" #productModal tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog bg-transparent">
              <div class="modal-content">
                <div class="modal-header bg-warning">
                  <h1 class="modal-title fs-5" id="h1-PUProd">{{ tituloModal }}</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <!--<span aria-hidden="true">&times;</span>-->
                  </button>
                </div>

                <!--Form-->
                <form ngNativeValidate #productForm="ngForm" (ngSubmit)="addproduct(productForm)">
                  <div class="agrupaColumnas">
                    <div class="columna">
                      <input type="hidden" name="_id" [(ngModel)]="productoService.selectedProduct._id">

                      <div class="col mi-fila">
                        <div class="mi-elemento">
                          <label for="nombre">Nombre:</label>
                          <input
                            [ngClass]="{'input-error': nombre.touched && !nombre.valid, 'input-success': nombre.valid && !nombre.errors}"
                            type="text" name="nombre" #nombre="ngModel" maxlength="50"
                            [(ngModel)]="productoService.selectedProduct.nombre" placeholder="Ingrese Nombre"
                            (input)="onInputChange($event)" class="form-control" required />
                          <div *ngIf="nombre.touched && !nombre.valid">
                            <div class="camposRequeridos" *ngIf="nombre.errors['required']">Nombre es requerido *
                            </div>
                          </div>
                        </div>

                        <div class="mi-elemento">
                          <label for="marca">Marca:</label>
                          <input
                            [ngClass]="{'input-error': marca.touched && !marca.valid, 'input-success': marca.valid && !marca.errors}"
                            type="text" name="marca" #marca="ngModel" class="form-control" placeholder="Ingrese Marca"
                            [(ngModel)]="productoService.selectedProduct.marca" required>
                          <div *ngIf="marca.touched && !marca.valid">
                            <div class="camposRequeridos" *ngIf="marca.errors['required']"> Marca es requerido *</div>
                          </div>
                        </div>
                      </div>
                      <div class="col mi-fila">
                        <div class="mi-elemento">
                          <label for="peso">Peso:</label>
                          <input [ngClass]="{'input-error': peso.touched && !peso.valid, 'input-success': peso.valid && !peso.errors}"
                            type="text" name="peso" #peso="ngModel" class="form-control" placeholder="Ingrese Peso (Kg)" maxlength="5"
                            [(ngModel)]="productoService.selectedProduct.peso" pattern="[0-9]+([.][0-9]+)?" required>
                          <div *ngIf="peso.touched && !peso.valid">
                            <div class="camposRequeridos" *ngIf="peso.errors['required']"> Peso es requerido *</div>
                            <div class="camposRequeridos" *ngIf="peso.errors['pattern']">Ingrese un valor numérico válido *</div>
                          </div>
                        </div>
                        <div class="mi-elemento">
                          <label for="precio">Precio:</label>
                          <br>
                          <input
                            [ngClass]="{'input-error': precio.touched && !precio.valid, 'input-success': precio.valid && !precio.errors}"
                            type="number" name="precio" #precio="ngModel" class="form-control" placeholder="Ingrese Precio ($)"
                            [(ngModel)]="productoService.selectedProduct.precio" min="0" max="9999999" required>
                          <div *ngIf="precio.touched && !precio.valid">
                            <div class="camposRequeridos" *ngIf="precio.errors['required']"> Precio es requerido *</div>
                            <div class="camposRequeridos" *ngIf="precio.errors['min']">El valor mínimo permitido es {{precio.errors['min'].min}} *</div>
                            <div class="camposRequeridos" *ngIf="precio.errors['max']">El valor máximo permitido es {{precio.errors['max'].max}} *</div> 
                          </div>
                        </div>
                      </div>

                      <div class="col mi-fila">
                        <div class="mi-elemento">
                          <label for="tipoMascota">Tipo de Mascota:</label>
                          <br>
                          <select id="dropdownList"
                            [ngClass]="{'input-error': tipoMascota.touched && !tipoMascota.valid, 'input-success': tipoMascota.valid && !tipoMascota.errors}"
                            [(ngModel)]="productoService.selectedProduct.tipoMascota._id" #tipoMascota="ngModel"
                            name="tipoMascota" class="form-control" placeholder="Ingrese Tipo de Mascota" required>
                            <option value="">Selecciona una opción...</option>
                            <option *ngFor="let tm of tipoMascotasService.tipoMascotas" value="{{tm._id}}">{{tm.nombre}}
                              {{tm.tamanoRaza}} {{tm.edad}}</option>
                          </select>
                
                          <div *ngIf="tipoMascota.touched && !tipoMascota.valid">
                            <div class="camposRequeridos" *ngIf="tipoMascota.errors['required']"> Tipo de Mascota es
                              requerido *</div>
                          </div>
                        </div>
                        <div class="mi-elemento" *ngIf="hide">
                          <div class="form-group">
                            <label for="imgUrl">Imagen:</label>
                            <input
                              [ngClass]="{'input-error': imgUrl.touched && !imgUrl.valid, 'input-success': imgUrl.valid && !imgUrl.errors}"
                              type="text" name="imgUrl" class="form-control"
                              placeholder="Ingrese Imagen del Producto"
                              [(ngModel)]="productoService.selectedProduct.imgUrl" #imgUrl="ngModel" required>
                            <div *ngIf="imgUrl.touched && !imgUrl.valid">
                              <div class="camposRequeridos" *ngIf="imgUrl.errors['required']"> Imagen es requerido *
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="mi-elemento">
                          <label for="imgUrl">Imagen:</label>
                          <ngx-dropzone (change)="onSelect($event)" accept=".jpg, .png" [ngClass]="{'input-error': !this.files[0] && foto.touched && !foto.valid, 'input-success': this.files.length===1}"
                          type="text" name="foto" #foto="ngModel" class="form-control" placeholder="Ingrese Foto"
                          [(ngModel)]="productoService.selectedProduct.imgUrl" required>
                            <ngx-dropzone-label >{{BackgroundTitlePick}}</ngx-dropzone-label>
                            <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngIf="files.length > 0" [file]="files[0]" [removable]="true" (removed)="onRemove($event)">
                              <ngx-dropzone-label></ngx-dropzone-label>
                            </ngx-dropzone-image-preview>
                          </ngx-dropzone>
                          <div *ngIf="!this.files[0] && ins && emp && !foto.valid">
                            <div class="camposRequeridos" *ngIf="foto.errors['required']"> Foto es requerido *
                            </div>
                          </div>
                        </div>
                        <div class="mi-elemento">
                          <div class="form-group">
                            <label for="promo">Promo:</label>
                            <input
                              [ngClass]="{'input-error': promo.touched && !promo.valid, 'input-success': promo.valid && !promo.errors}"
                              type="number" name="promo" class="form-control"
                              placeholder="Ingrese Porcentaje (%) de Descuento"
                              [(ngModel)]="productoService.selectedProduct.promo" #promo="ngModel" min="0" max="99"
                              required>
                            <div *ngIf="promo.touched && !promo.valid">
                              <div class="camposRequeridos" *ngIf="promo.errors['required']"> Promo es requerido *</div>
                              <div class="camposRequeridos" *ngIf="promo.errors['min']">El valor mínimo permitido es {{promo.errors['min'].min}} *</div>
                              <div class="camposRequeridos" *ngIf="promo.errors['max']">El valor máximo permitido es {{promo.errors['max'].max}} *</div> 
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="mi-elemento">
                        <label for="descripcion">Descripción:</label>
                        <textarea
                          [ngClass]="{'input-error': descripcion.touched && !descripcion.valid, 'input-success': descripcion.valid && !descripcion.errors}"
                          name="descripcion" id="" class="form-control" placeholder="Ingrese Descripción" cols="20" rows="4"
                          [(ngModel)]="productoService.selectedProduct.descripcion" #descripcion="ngModel"
                          required></textarea>
                        <div *ngIf="descripcion.touched && !descripcion.valid">
                          <div class="camposRequeridos" *ngIf="descripcion.errors['required']"> -> Descripcion es
                            requerido</div>
                        </div>
                      </div>

                      <div *ngIf="InsertSuccess" class="overlay">
                        <div class="alert alert-success alert-dismissible fade show" id="SuccesContainer" role="alert">
                          <div class="SuccessItems"><img id="imgSuccess" src="assets/images/check.png" alt=""></div>
                          <div class="SuccessItems">{{tituloModalSucces}}</div>
                          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"
                            data-bs-dismiss="modal" (click)="ModalClose()"></button>
                        </div>
                      </div>



                      <div *ngIf="errorMessage" class="custom-error-message">
                        ¡Error!
                        {{errorMessage}}
                      </div>

                    </div>
                    <div class="columna">
                      <div id="imgConteiner">
                        <div class="imagen"
                          [style.background-image]="'url(' + productoService.selectedProduct.imgUrl + ')'"
                          *ngIf="productoService.selectedProduct.imgUrl"></div>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button *ngIf="btn" type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                      (click)="cancel()">Cancelar</button>
                    <button type="submit" class="btn btn-success" *ngIf="btn">Guardar</button>
                    <div *ngIf="!btn" class="d-flex align-items-center">
                      <strong>Loading...</strong>
                      <div class="spinner-border ms-auto" role="status" aria-hidden="true"></div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </thead>
        <tbody>
          <!-- Fin Modal -->
          <tr *ngFor="let p of productoService.productos">
            <td>{{p.marca}}</td>
            <td>{{p.nombre}}</td>
            <td>{{p.descripcion}}</td>
            <td>{{p.peso}} kg</td>
            <td><img src={{p.imgUrl}} class="img-thumbnail" /></td>
            <td>{{p.tipoMascota.nombre}} {{p.tipoMascota.tamanoRaza}} {{p.tipoMascota.edad}}</td>
            <td>${{p.precio}}</td>
            <td>{{p.promo}}</td>
            <td>
              <button class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#ProductModal"
                (click)="editProduct(p)">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil"
                  viewBox="0 0 16 16">
                  <path
                    d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z" />
                </svg>
              </button>
              <button class="btn btn-danger btn-sm" (click)="deleteProduct(p._id)" *ngIf="delete">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash"
                  viewBox="0 0 16 16">
                  <path
                    d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                  <path fill-rule="evenodd"
                    d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                </svg>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>