<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img class="col-lg-6 img-fluid ms-2" src="assets/images/logo.png" alt="Pampa Nutrición"/>
    </a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav fs-5">
        <li class="nav-item ms-4">
          <a class="nav-link" href="/home" routerLinkActive="active-link">Home</a>
        </li>
        <li class="nav-item ms-4">
          <a class="nav-link" href="/products" routerLinkActive="active-link">Nuestros productos</a>
        </li>
        <li class="nav-item ms-4">
          <a class="nav-link" href="/store-locator">Sobre nosotros</a>
        </li>
        <li class="nav-item ms-4">
          <a class="nav-link" href="/cart">Carrito</a>
        </li>
      </ul>
    </div>
    <ul class="navbar-nav mx-auto">
      <li class="nav-item">
        <button type="button" class="btn btn-dark text-white fs-5 me-5" data-bs-toggle="modal" [attr.data-bs-target]="'#login'">Acceder</button>
      </li>
    </ul>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <!-- <ul class="navbar-nav mx-auto"> esto debería aparecer unicamente en el caso de que la cuenta tenga rol de administrador
      <li class="nav-item">
        <a class="nav-link text-dark" href="/crud">ABMs</a>
      </li>
    </ul> -->
  
  </div>
</nav>

<!--MODAL INICIO DE SESION-->
<div class="modal fade" id="login" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body bg-dark d-flex justify-content-center align-item-center vh100 rounded">
       
        <div class="flex-column">
          <button type="button" class="btn-close btn-close-white position-absolute top-0 end-0 p-3" data-bs-dismiss="modal" aria-label="Close"></button>
          <div class="bg-dark p-5 text-white">
              <div class="d-flex justify-contect-center">
                  <img src="./assets/images/logo.png" alt="login-icon" style="height: 7rem">
              </div>
              <div class="text-center fs-1 fw-bold">Inicio de Sesión</div>
              <div class="input-group mt-4">
                  <div class="input-group-text">
                      <img src="./assets/images/pngwing.com.png" alt="user-icon" style="height: 1rem">
                  </div>
                  <input class="form-control" type="text" placeholder="Usuario" required>
              </div>
              <div class="input-group mt-2">
                  <div class="input-group-text">
                      <img src="./assets/images/candado.png" alt="pass-icon" style="height: 1rem">
                  </div>
                  <input class="form-control" type="password" placeholder="Contraseña" required>
              </div>
              <div class="d-flex justify-conttent-center pt-1">
                  <a href="#" class="text-decoration-none text-primary fw-semibold fst-italic" data-bs-toggle="modal" [attr.data-bs-target]="'#ForgotPass'" style="font-size: 0.9rem">¿Olvidaste tu contraseña?</a>
              </div>
              <div class="btn btn-success text-white w-100 mt-4">Acceder</div>
              <div class="d-flex gap-1 justify-content-center mt-4">
                  <div>¿Aún no estas registrado?</div>
                  <a href="#" class="text-decoration-none text-primary fw-semibold fst-italic" data-bs-toggle="modal" [attr.data-bs-target]="'#Register'">Registrarse</a>
              </div>
          </div>
      </div>
      </div>
    </div>
  </div>
</div>


<!--MODAL DE REGISTRARME-->
<div class="modal fade" id="Register" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered custom-modal-size">
    <div class="modal-content">
      <div class="modal-body bg-dark d-flex justify-content-center align-item-center vh100 rounded">
        <div class="flex-column">
          <button type="button" class="btn-close btn-close-white position-absolute top-0 end-0 p-3" data-bs-dismiss="modal" aria-label="Close"></button>
          <div class="bg-dark p-5 rounded-10 text-white">
              <div class="d-flex justify-content-center">
                  <img src="./assets/images/logo.png" alt="login-icon" style="height: 7rem">
              </div>
              <br>
              <div class="text-center fs-1 fw-bold">Registrarme</div>
              <br>
              <form #userForm="ngForm" (ngSubmit)="register(userForm)" class="form needs-validation" ngNativeValidate>
              <div class="row">
                <div class="col-md-6">
                               
                  <div class="input-group mt-2">
                    <div class="input-group-text">
                      <img src="./assets/images/pngwing.com.png" alt="user-icon" style="height: 1rem">
                    </div>
                    <input class="form-control" type="text" placeholder="Usuario" [(ngModel)]="authService.user.usuario" name="usuario" required>
                  </div>

                  <div class="input-group mt-2">
                    <div class="input-group-text">
                      <img src="./assets/images/mail.png" alt="mail-icon" style="height: 1rem">
                    </div>
                    <input class="form-control" type="email" placeholder="Email" [(ngModel)]="authService.user.email" name="email" required>
                  </div>

                  <div class="input-group mt-2">
                    <div class="input-group-text">
                      <img src="./assets/images/candado.png" alt="pass-icon" style="height: 1rem">
                    </div>
                    <input class="form-control" type="password" placeholder="Contraseña" [(ngModel)]="authService.user.password" name="password" required>
                  </div>

                  <div class="input-group mt-2">
                    <div class="input-group-text">
                        <img src="./assets/images/cuil.png" alt="cuil-icon" style="height: 1rem">
                    </div>
                    <input class="form-control" type="text" placeholder="Cuil" [(ngModel)]="authService.user.cuil" name="cuil" required>
                  </div>
                  <a target="_blank" class="text-decoration-none text-primary fst-italic" href="https://www.argentina.gob.ar/descarga-constancia-cuil">Click para conocer cuil</a>

                </div>

                <div class="col-md-6">
                  <div class="input-group mt-2">
                    <div class="input-group-text">
                      <img src="./assets/images/nomApe.png" alt="name-icon" style="height: 1rem">
                    </div>
                    <input class="form-control" type="text" placeholder="Nombres y Apellido" [(ngModel)]="authService.user.nombre" name="nombre" required>
                  </div>

                  <div class="input-group mt-2">
                    <div class="input-group-text">
                      <img src="./assets/images/date.png" alt="date-icon" style="height: 1rem">
                    </div>
                    <input class="form-control" type="date" placeholder="Fecha de nacimiento" [(ngModel)]="authService.user.fechaNacimiento" name="fechaNacimiento" required>
                  </div>

                  <div class="input-group mt-2">
                    <div class="input-group-text">
                      <img src="./assets/images/adress.png" alt="adress-icon" style="height: 1rem">
                    </div>
                    <input class="form-control" type="text" placeholder="Dirección" [(ngModel)]="authService.user.direccion" name="direccion" required>
                  </div>

                  <div class="input-group mt-2">
                    <div class="input-group-text">
                      <img src="./assets/images/phone.png" alt="phone-icon" style="height: 1rem">
                    </div>
                  <input class="form-control" type="text" placeholder="Teléfono" [(ngModel)]="authService.user.telefono" name="telefono" required>
                  </div>
                </div>
            </div>
            
            <div *ngIf="registrationSuccess" class="overlay">
              <div class="alert alert-success alert-dismissible fade show" role="alert">
                ¡Usuario registrado con éxito!
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" data-bs-dismiss="modal"></button>
            </div>
          </div>
            
            <br>  
            
            <div class="d-grid gap-2 col-md-6 mx-auto">
              <button type="submit" class="btn btn-success btn-lg">Registrarme</button>
            </div>
          </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--MODAL OLVIDAR CONTRASEÑA-->
<div class="modal fade" id="ForgotPass" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body bg-dark d-flex justify-content-center align-item-center vh100 rounded">
       
        <div class="flex-column">
          <button type="button" class="btn-close btn-close-white position-absolute top-0 end-0 p-3" data-bs-dismiss="modal" aria-label="Close"></button>
          <div class="bg-dark p-5 rounded-5 text-white">
              <div class="d-flex justify-contect-center">
                  <img src="./assets/images/logo.png" alt="login-icon" style="height: 7rem">
              </div>
              <div class="text-center fs-2 fw-bold">Recupero de contraseña</div>
              <div class="input-group mt-2">
                <div class="input-group-text">
                  <img src="./assets/images/pngwing.com.png" alt="user-icon" style="height: 1rem">
                </div>
                <input class="form-control" type="text" placeholder="Usuario" name="usuario" required>
              </div>
              <div class="input-group mt-4">
                <div class="input-group-text">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
                    <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z"/>
                  </svg>
                </div>
                <input class="form-control" type="text" placeholder="Email" required>
            </div>
              <div class="btn btn-success text-white w-100 mt-4">Recuperar contraseña</div>
          </div>
      </div>
      </div>
    </div>
  </div>
</div>