<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img class="col-lg-6 image image-xs-full" src="assets/images/logo.png" alt="Pampa Nutrición"/>
    </a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav fs-5">
        <li class="nav-item ms-4">
          <a class="nav-link text-white" href="/home" routerLinkActive="active-link">Home</a>
        </li>
        <li class="nav-item ms-4">
          <a class="nav-link text-white" href="/products" routerLinkActive="active-link">Nuestros productos</a>
        </li>
        <li class="nav-item ms-4">
          <a class="nav-link text-white" href="#">Sucursales</a>
        </li>
        <li class="nav-item ms-4">
          <a class="nav-link text-white" href="#">Carrito</a>
        </li>
      </ul>
    </div>
    <ul class="navbar-nav mx-auto">
      <li class="nav-item">
        <button class="btn btn-dark text-white fs-5 me-5" href="#">Acceder</button>
      </li>
    </ul>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- <ul class="navbar-nav mx-auto"> esto debería aparecer unicamente en el caso de que la cuenta tenga rol de administrador
      <li class="nav-item">
        <a class="nav-link text-dark" href="/crud">ABMs</a>
      </li>
    </ul> -->
  </div>
</nav>
