@media (max-width: 767.98px) { .border-sm-start-none { border-left: none !important; } }

#disc {
  padding: 4px;
  font-weight: bold;
  border-radius: 50%;
}

.modal-header {
  background-color: #fce0b6
}

.modal-body {
  background-color: #fff4e3
}

.modal-footer {
  background-color: #fce0b6
}