<section style="background-color: #eee;">
  <div class="container py-3">
    <div class="row justify-content-center mb-3">
      <div class="col-md-12 col-xl-10">
        <div class="card shadow-0 border rounded-3">
          <div class="card-body">
            <div class="row p-2">
              <div class="col-md-12 col-lg-3 col-xl-3 mb-4 mb-lg-0 img-thumbnail">
                <div class="d-flex flex-column align-items-center">
                  <img src={{imgUrl}} style="max-width: 200px;" />
                  <a href="#!">
                    <div class="hover-overlay">
                      <div class="mask" style="background-color: rgba(253, 253, 253, 0.15);"></div>
                    </div>
                  </a>
                </div>
              </div>
              <div class="col-md-6 col-lg-6 col-xl-6">
                <h3 class="fw-light">{{brand}}</h3>
                <h5 class="fw-light lh-base">{{name}}</h5>
                <div class="mt-1 mb-2 text-muted small">
                  <span>{{petName}}</span>
                  <span class="text-primary"> • </span>
                  <span>{{petAge}}</span>
                  <span class="text-primary"> • </span>
                  <span>{{petSize}}<br /></span>
                </div>
                <h6 class="mb-4">Peso: {{weight}}kg</h6>
                <div class="d-flex align-items-end mb-4">
                  <button type="button" class="btn btn-outline-secondary btn-sm" data-bs-toggle="modal" [attr.data-bs-target]="'#detailsModal'+_id">
                    Detalles
                  </button>
                </div>

                <div class="modal fade" id="detailsModal{{_id}}" tabindex="-1" aria-labelledby="detailsModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="detailsModalLabel{{_id}}">{{brand.toUpperCase()}} - {{name}}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body row">
                        <div class="col-6">
                          <img src="{{imgUrl}}" class="img-thumbnail"/>
                        </div>
                        <div class="col-6">
                          <p>{{description}}</p>
                          <p>Peso: {{weight}}kg</p>
                          <p>Para {{petName.toLowerCase()}}s {{petAge.toLowerCase()}}s {{petSize.toLowerCase()}}s</p>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-lg-3 col-xl-3 border-sm-start-none border-start">
                <div class="d-flex flex-row align-items-center mt-4 mb-3" *ngIf="discount === '0'">
                  <h4 class="mb-2 me-1">${{price}}</h4>
                </div>
                <div class="d-flex flex-row align-items-center mt-4 mb-3" *ngIf="discount !== '0'">
                  <h4 class="mb-1 me-3">${{calculatePrice(+price, +discount)}}</h4>
                  <span class="text-danger ms-1"><s>${{price}}</s></span>
                  <label class="bg bg-danger text-white ms-2" id="disc">-{{discount}}%</label>
                </div>
                <div class="d-flex flex-column mt-2">
                  <div *ngIf="discount === '0'">
                    <app-product-counter 
                      price="{{price}}"
                      (updatePriceEvent)="updatePrice($event)">
                    </app-product-counter>
                  </div>
                  <div *ngIf="discount !== '0'">
                    <app-product-counter 
                      price="{{calculatePrice(+price, +discount)}}"
                      (updatePriceEvent)="updatePrice($event)">
                    </app-product-counter>
                  </div>
                  <div class="d-flex flex-column mt-5">
                    <button class="btn btn-warning bg-gradient mt-4" type="button">
                      Agregar al carrito
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>