@media (max-width: 767.98px) { .border-sm-start-none { border-left: none !important; } }

#disc {
  padding: 4px;
  font-weight: bold;
  border-radius: 50%;
}

.modal-header {
  background-color: #ee6e25;
  color: #ffffff
}

.modal-body {
  background-color: #11ff0000
}

.modal-footer {
  background-color: #fce0b6
}