<div class="container-fluid-p0">
    <div class="fs">
        <div class="row align-items-center">
            <div class="col-12 col-md-9 col-lg-5 text">
                <h1 class="text-left text-white lh-base fw-bolder ms-5">Alimentá el amor que sentis por tu mascota con nuestra amplia variedad de productos de alta calidad</h1>
                <p class="fst-normal ms-5 mt-4 fs-5">En Pampa Nutrición sabemos que tu mascota es parte de tu familia, por eso ofrecemos la mejor nutrición para su bienestar y felicidad.</p>
            </div>
            <div class="col-12 col-lg-7 image image-xs-full">
                <img class="ms-5" src="./assets/images/perro.png"/>
            </div>
        </div>
    </div>
</div>