<div class="container-fluid p-0">
    <div class="listfs align-items-center">
      <br/>
      <div class="container-fluid p-3">
        <h1 class="text-center text-white display-2 tbg">ABMs</h1>
      </div>
    </div>
  </div>
<div class="container align-items-center">
    <div class="row">
        <div class="col-lg-4">
          <app-crud-card
            name="Producto">
          </app-crud-card>
        </div>
        <div class="col-lg-4">
          <app-crud-card
           name="Tipo de Mascota">
          </app-crud-card>
        </div>
        <div class="col-lg-4">
          <app-crud-card
           name="Usuario">
          </app-crud-card>
        </div>
      </div>
   
    </div>


  

  