<div class="container-fluid p-0">
    <div class="listfs align-items-center">
      <br/>
      <div class="container-fluid p-3">
        <h1 class="text-center text-white display-2 tbg">ABMs</h1>
      </div>
    </div>
  </div>
<div class="container align-items-center">
    <div class="row">
      
        <div class="col-lg-4" *ngIf="isAdmin||isEmpleado">  
          <app-crud-card
            name="Producto"
            link="products"
            imagen="assets/images/Producto.png">
          </app-crud-card>   
        </div>
        <div class="col-lg-4" *ngIf="isAdmin">
          <app-crud-card
           name="Tipo de Mascota"
           link="typeOfPets"
           imagen="assets/images/Mascota.png">
          </app-crud-card>
        </div>
        <div class="col-lg-4" *ngIf="isAdmin">
          <app-crud-card
           name="Usuario"
           link="users"
           imagen="assets/images/Usuario1.png">
          </app-crud-card>
        </div>
        <div class="col-lg-4">
          <app-crud-card
           name="Localidad"
           link="locations"
           imagen="assets/images/global.png" *ngIf="isAdmin">
          </app-crud-card>
        </div>
        <div class="col-lg-4" *ngIf="isAdmin">
          <app-crud-card
           name="Sucusales"
           link="Storelocator"
           imagen="assets/images/sucursales.png">
          </app-crud-card>
        </div>
        <div class="col-lg-4" *ngIf="isAdmin">
          <app-crud-card
           name="Proveedores"
           link="proveedor"
           imagen="assets/images/mensajero.png">
          </app-crud-card>
        </div>
      </div>
      
   
    </div>


  

  