<div *ngIf="isCliente" class="container-fluid p-0">
    <div class="listfs align-items-center">
        <br />
        <div class="container-fluid p-3">
            <h1 class="text-center text-white display-2 tbg">Mis Pedidos</h1>
        </div>
    </div>
</div>

<div *ngIf="!isCliente" class="container-fluid p-0">
    <div class="listfs align-items-center">
        <br />
        <div class="container-fluid p-3">
            <h1 class="text-center text-white display-2 tbg">Gestor de pedidos</h1>
        </div>
    </div>
</div>

<br />

<div class="container">
    <div class="row">    
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <table class="table table-striped">
                        <thead>
                            <tr class="table-dark">
                                <th class="text-center">Nro. de Pedido</th>
                                <th class="text-center">Cliente</th>
                                <th class="text-center">Fecha</th>
                                <th class="text-center">Estado</th>
                                <th class="text-center">Acciones</th> </tr>
                                <tr>
                                    <th><input class="form-control" type="search" placeholder="" aria-label="Search" [(ngModel)]="filterOrderByNumber" name="filterOrderByNumber"></th>
                                    <th><input class="form-control" type="search" placeholder="" aria-label="Search" [(ngModel)]="filterOrderByClient" name="filterOrderByClient"></th>
                                    <th><input class="form-control" type="date" placeholder="" aria-label="Search" [(ngModel)]="filterOrderByDate" name="filterOrderByDate"></th>
                                    <th>
                                        <select class="form-select" [(ngModel)]="filterOrderByStates" name="filterOrderByStates">
                                            <option value="">Selecciona un estado</option>
                                            <option value="Pendiente">Pendiente</option>
                                            <option value="En preparación">En preparación</option>
                                            <option value="Preparado">Preparado</option>
                                            <option value="Entregado">Entregado</option>
                                          </select>
                                    </th>
                                    <th></th>
                                </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let order of this.pedidoService.pedidos | orderFilterByNumber: filterOrderByNumber.toString().toLowerCase() | orderFilterByClient: filterOrderByClient.toLowerCase() | orderFilterByDate: filterOrderByDate | orderFilterByStates: filterOrderByStates.toLowerCase() ">
                                <td class="text-center">{{ order.nroPedido }}</td>
                                <td class="text-center"><button data-bs-toggle="modal"
                                        [attr.data-bs-target]="'#userModal'" (click)="setSelectedUser(order.usuario)"
                                        class="btn btn-secondary">{{ order.usuario.nombre }}</button></td>
                                <td class="text-center">{{ formatDate(order.createdAt) }}</td>
                                <td *ngIf="!isCliente" class="text-center">
                                    <select [(ngModel)]="order.estado" (change)="updateOrder(order.nroPedido)"
                                        class="form-select form-select-sm">
                                        <option *ngFor="let estado of estados" [value]="estado">{{ estado }}</option>
                                    </select>
                                </td>
                                <td *ngIf="isCliente" class="text-center">{{order.estado }}</td>
                                <td class="text-center">
                                    <button data-bs-toggle="modal" [attr.data-bs-target]="'#orderDetailsModal'"
                                        class="btn btn-primary me-3" (click)="setSelectedOrder(order)">Ver</button>
                                    <button *ngIf="!isCliente && !isEmpleado" class="btn btn-danger"
                                        (click)="deleteOrder(order._id)">Eliminar</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>


<!-- User Modal -->
<div class="modal fade" id="userModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{ selectedUser.nombre }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body d-flex align-items-center">
                <div class="col-6">
                    <img src="./assets/images/Usuario1.png" alt="Imagen del usuario" class="img-fluid"
                        style="max-width: 200px;">
                </div>
                <div class="col-6">
                    <strong>Email</strong>
                    <p>{{ selectedUser.email }}</p>
                    <strong>Cuil</strong>
                    <p>{{ selectedUser.cuil }}</p>
                    <strong>Teléfono</strong>
                    <p>{{ selectedUser.telefono }}</p>
                    <strong>Dirección</strong>
                    <p>{{ selectedUser.direccion }}</p>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- Order Modal -->
<div class="modal fade" id="orderDetailsModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Detalles del Pedido {{ selectedOrder.nroPedido }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table class="table table-striped">
                    <thead>
                        <tr class="table">
                            <th class="text-center">Marca</th>
                            <th class="text-center">Nombre Producto</th>
                            <th class="text-center">Cantidad</th>
                            <th class="text-end">Precio</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let product of selectedOrder.items; let i = index" class="bg-light">
                            <td class="text-center">{{ product.producto.marca }}</td>
                            <td class>{{ product.producto.nombre }}</td>
                            <td class="text-center">{{ selectedOrder.items[i].cantidad }}</td>
                            <td class="text-end">$ {{ product.producto.precio }}</td>
                        </tr>
                        <tr>
                            <td colspan="3" class="text-end">Subtotal:</td>
                            <td class="text-end">$ {{ selectedOrder.subtotal }}</td>
                        </tr>
                        <tr>
                            <td colspan="3" class="text-end">IVA:</td>
                            <td class="text-end">21%</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <td colspan="4" class="text-end"><strong>Total:</strong></td>
                <td class="text-end">${{ selectedOrder.total }}</td>
            </div>
        </div>
    </div>
</div>