<h1>GESTOR DE PEDIDOS</h1>

<br/>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Nro. de Pedido</th>
                                <th>Cliente</th>
                                <th>Fecha</th>
                                <th>Estado</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let order of this.pedidoService.pedidos">
                                <td>{{ order.nroPedido }}</td>
                                <td><button data-bs-toggle="modal" [attr.data-bs-target]="'#userModal'" (click)="setSelectedUser(order.usuario)" class="btn btn-link">{{ order.usuario.nombre }}</button></td>
                                <td>{{ order.createdAt | date: 'dd/MM/yyyy' }}</td>
                                <td>
                                    <select [(ngModel)]="order.estado" (change)="updateOrder(order.nroPedido)">
                                        <option *ngFor="let estado of estados" [value]="estado">{{ estado }}</option>
                                    </select>
                                </td>                                
                                <td>
                                    <button data-bs-toggle="modal" [attr.data-bs-target]="'#orderDetailsModal'" class="btn btn-primary" (click)="setSelectedOrder(order)">Ver</button>
                                    <button class="btn btn-danger" (click)="deleteOrder(order._id)">Eliminar</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- User Modal -->
<div class="modal fade" id="userModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{ selectedUser.nombre }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Email: {{ selectedUser.email }}</p>
                <p>Cuil: {{ selectedUser.cuil }}</p>
                <p>Teléfono: {{ selectedUser.telefono }}</p>
                <p>Dirección: {{ selectedUser.direccion }}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<!-- Order Modal -->
<div class="modal fade" id="orderDetailsModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Detalles del Pedido {{ selectedOrder.nroPedido }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <ul class="list-group">
                    <li *ngFor="let product of selectedOrder.productos; let i = index" class="list-group-item">
                        <div class="row">
                            <div class="col">{{ product.marca }} {{ product.nombre }}</div>
                            <div class="col-auto">{{ selectedOrder.cantidad[i] }}</div>
                        </div>
                    </li>
                </ul>
            </div>                       
            <div class="modal-footer">
                <p>Subtotal: {{ selectedOrder.subtotal }}</p>
                <p>Total: {{ selectedOrder.total }}</p>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
