h1 {
  text-align:left;
  color: #ee7f3f;
  width: 550px; /* Ancho deseado */
  margin-left: 10px;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 20px;
  font-weight: bold;
  border: none; /* Elimina cualquier borde predefinido */
  border-bottom: 3px solid #ee7f3f; /* Añade una línea de un píxel de grosor debajo del campo */
  outline: none; /* Elimina el contorno cuando el campo está enfocado */
}


.Presentacion{
  display: flex;
}
#imgPresentacion{
  width: 100px; /* Establece el ancho deseado */
  height: auto; /* Mantiene la proporción original */
  margin: 20px;
}
#h1-PUProd {
        font-family: 'Helvetica Neue', Arial, sans-serif;
        font-size: 30px !important;
        font-weight: bold;
        color: #ffffff;
        background-color: #ee7f3f;
        margin-left:20%;
}
#SuccesContainer {
  flex-direction: column;
}

.SuccessItems{
  margin-top: 10px;
}

#imgSuccess{
  width: 100px; /* Ancho de la imagen */
  height: 100px; /* Altura de la imagen */
}
.dropdown i {
  position: absolute;
  top: 50%;
  right: 5px; /* Ajusta la posición de la flecha */
  transform: translateY(-50%);

}

#dropdownList {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding-right: 20px; /* Ajusta el espacio para la flecha */
}

#ProductModal .modal-body {
    max-height: calc(100vh - 200px); /* Ajusta la altura máxima según tus necesidades */
    overflow-y: auto;
    background-color: #b86637;
  }

#ProductModal .modal-dialog {
    max-width: 800px; /* Ajusta el ancho máximo según tus necesidades */
  }

#ProductModal .modal-content {
    width: 100%;
  }
#ProductModal .modal-backdrop {
  background-color: rgba(0, 0, 0, 0.5); /* Color oscuro con 50% de opacidad */
}

.mi-fila {
    display: block;
    flex-wrap:wrap-reverse; /* Permite que los elementos se envuelvan en líneas adicionales según sea necesario */
    gap: 10px; /* Espacio entre los elementos en la misma línea */
}

#ProductModal .mi-elemento {
  width: calc(50% - 10px); /* Ancho del 50% menos el espacio entre elementos */
  margin-right: 20px; /* Margen derecho entre elementos */
  margin-bottom: 5px; /* Margen inferior para separar las líneas */
  margin-left: 20px; 
  box-sizing: border-box; /* Incluye el borde y el relleno en el ancho total */
  
  
}



.agrupaColumnas {
  display: flex;
}

.columna {
  flex: 1; /* Las columnas se expanden para ocupar todo el espacio disponible */
  padding: 0 10px; /* Agrega un poco de espacio entre las columnas */
  /* Ajusta otros estilos según sea necesario */
}
.imagen {
  width: 300px; /* Ancho de la imagen */
  height: 300px; /* Altura de la imagen */
  background-size: contain; /* Ajusta el tamaño de la imagen para cubrir todo el div */
  background-repeat: no-repeat;
  background-position-y: center; /* Centra la imagen verticalmente */
  margin-bottom: 50%;
  margin-top: 60%;
  background-position: center; /* Centra la imagen */
  margin-left: 25px;
  margin-right: auto;
}
#imgConteiner .imagen {
  border: 5px solid #ee7f3f; /* Cambia el color y el grosor del borde según necesites */
  border-radius: 10px;

}
/*.mi-elemento {
  flex: 1; /* Hace que los elementos ocupen el espacio disponible en la línea 
  margin: 10px; /* Espacio entre los elementos en líneas diferentes 
}*/

.bg-warning {
    background-color: #ee7f3f !important; 
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1050; 
}

.alert {
  max-width: 400px;
  width: 100%;
  padding: 20px;
  text-align: center;
  z-index: 1060; 
}

.custom-error-message {
  color: red;
  background-color: transparent;
  text-align: center;
}

.camposRequeridos {
  color: red;
}

.input-error {
  border-color: red; /* Cambiar el color del borde a rojo */
  border-width: 2px;
}

.input-success {
  border-color: rgb(27, 141, 27);
  border-width: 2px;
}



