@media (max-width: 767.98px) { .border-sm-start-none { border-left: none !important; } }

#disc {
  padding: 4px;
  font-weight: bold;
  border-radius: 50%;
}
.btn-circle {
  width: 40px;
  height: 40px;
  border-radius: 20px;    
  text-align: center;
  font-size: 20px;
  line-height: 0.5;
}

.minus {
  font-size: 22px;
}
.list-cart{
  background: rgb(207, 146, 115);
}