
h1 {
  text-align: center;
  color: #ffffff;
  background-color: #b86637;
  width: 400px; /* Ancho deseado */
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.container {
    margin-top: 20px;
}

#h1-PUProd {
        font-family: 'Helvetica Neue', Arial, sans-serif;
        font-size: 50px;
        font-weight: bold;
        color: #ffffff;
}


#ProductModal .modal-body {
    max-height: calc(100vh - 200px); /* Ajusta la altura máxima según tus necesidades */
    overflow-y: auto;
    background-color: #b86637;
  }

#ProductModal .modal-dialog {
    max-width: 800px; /* Ajusta el ancho máximo según tus necesidades */
  }

#ProductModal .modal-content {
    width: 100%;
  }
#ProductModal .modal-backdrop {
  background-color: rgba(0, 0, 0, 0.5); /* Color oscuro con 50% de opacidad */
}
.mi-fila {
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se envuelvan en líneas adicionales según sea necesario */
    gap: 10px; /* Espacio entre los elementos en la misma línea */
}
  
.mi-elemento {
    flex: 1; /* Hace que los elementos ocupen el espacio disponible en la línea */
    margin: 10px; /* Espacio entre los elementos en líneas diferentes */
}

.bg-warning {
    background-color: #ee7f3f !important; 
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1050; 
}

.alert {
  max-width: 400px;
  width: 100%;
  padding: 20px;
  text-align: center;
  z-index: 1060; 
}

.custom-error-message {
  color: red;
  background-color: transparent;
  text-align: center;
}

.camposRequeridos {
  color: red;
}

.input-error {
  border-color: red; /* Cambiar el color del borde a rojo */
  border-width: 2px;
}

.input-success {
  border-color: rgb(0, 255, 0);
  border-width: 2px;
}



