
<div class="container-fluid p-0">
  <div class="listfs align-items-center">
    <br/>
    <div class="container-fluid p-3">
      <h1 class="text-center text-white display-2 tbg">Recuperar contraseña</h1>
    </div>
  </div>
</div>

<br>
<br>

<!-- reset-password.component.html -->

<div class="gray-container">
  <div class="container">
    <div class="text-center mb-4">
      <img src="./assets/images/logo.png" alt="Logo" class="logo">
    </div>
    <br>
    <form (ngSubmit)="resetPassword()" class="mt-3">
      <div class="input-group col-md-2">
        <div class="input-group-text">
          <img src="./assets/images/candado.png" alt="pass-icon" style="height: 1rem">
        </div>
        <input class="form-control" type="password" id="newPassword" name="newPassword" placeholder="Nueva Contraseña" [(ngModel)]="newPassword" required>
      </div>
      <br>
      <br>
      <div class="d-grid gap-2 col-md-6 mx-auto mt-6">
        <button type="submit" class="btn btn-success btn-xl">Guardar contraseña</button>
      </div>
    </form>
  </div>
</div>

<br>
<br>


